<form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">
        <label>
                First Name:
                <input type="text" formControlName="firstName" required>
                <div class="alert alert-danger" *ngIf="userEditForm.controls['firstName'].invalid && userEditForm.controls['firstName'].touched">
                        <div *ngIf="userEditForm.controls['firstName'].errors.required">
                                Name is required.
                        </div>
                        <div *ngIf="userEditForm.controls['firstName'].errors.minlength">
                                Name must be at least 3 characters long.
                        </div>
                </div>

        </label>
        <br>
        <label>
                Last Name:
                <input type="text" formControlName="lastName">
        </label>
        <br>
        <label>
                Phone:
                <input type="text" formControlName="phone">
        </label>
        <br>
        <label>
                Address:
                <input type="text" formControlName="address">
        </label>
        <p>
                <button type='submit' [disabled]="userEditForm.invalid">Update</button>
                <button [routerLink]="['/users']">Back</button>
        </p>

</form>